@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');
  
* {
  box-sizing: border-box;
}
html{
  width: 375px;
  margin: auto;
}
p{
  margin: 0;
}
.menu_food{
    grid-area: aside;
    overflow: hidden;
}

.menu_plate{
    grid-area: nom;
    
}

.entree{
grid-area: aside1;
opacity: 0;
transform: translateY(-30px);
animation: apparition 1.5s 0.4s ease-out forwards;
}



.plats{
grid-area: aside2;
opacity: 0;
transform: translateY(-30px);
animation: apparition 1.5s 1.2s ease-out forwards;
}

.deserts{
grid-area: aside3;
opacity: 0;
transform: translateY(-30px);
animation: apparition 1.5s 1.8s ease-out forwards;
}

@keyframes apparition {
  100%{
    opacity: 1;
  }
  
}

body{
    display: grid;
    grid-template-areas:  
    'header'
    'aside'
    'footer';
    grid-template-columns: 375px;
    grid-template-rows: 338px 1100px 197px;
    font-family: 'Roboto','Shrikhand', sans-serif;
    margin: 0;
    margin-left: 1px;
}


h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    font-weight: 400;
    padding-left: 15px;
    width: 375px;
    margin: auto;
    margin-right: 350px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: baseline;
    
}

.logo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo_h1{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  
}

.fa-heart{
  -webkit-text-stroke-width: solid 1px black;
  font-size: 25px;
  margin-right: 25px;
  display: flex;
  cursor: pointer;
  
}


.coeur1{
  position: relative;
  opacity: 1;
  
}




.coeur2{
  opacity: 0.01;
  background: #686868 -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background: #686868 linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0px;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin-left: -100px;
  
}

.coeur2:hover{
  animation: changecolor 1.5s forwards;
}

@keyframes changecolor  {
  100%{
    opacity: 1;
  }


}

h2{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: -5px;
    margin: auto;
    margin-left: 12px;
    text-decoration-line: 12px;
}

.underline{
  width: 40px;
  height: 27px;
  margin-left: 12px;
  margin-top: -30px;
  border-bottom: 3px solid #99E2D0 ;
}

section{
    display: grid;
    grid-template-areas: 
    'h1' 
    'aside1'
    'aside2'
    'aside3';
    margin-top: -63px;
}

article{
    width: 349px;
    height: 68.07px;
    border-radius: 15.04px;
    background: #FFFFFF;
    overflow: hidden;
    display: grid;
    grid-template-areas:  
    'nom nom nom price';
    grid-template-columns: 247.79px 35px;
    grid-template-rows: 68.07px;
    margin-left: 13px;
    cursor: pointer;
}



aside{
    display: grid;
   
}

h3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 5px;
    width: 240px;
    
}



.menu_plate{
    margin-left: 10px;
    text-overflow: ellipsis;
  
}

.menu_plate p{
  font-size: 14px;
    font-weight: 300; 
    text-overflow: ellipsis;
    width: 230px;
    margin: 0;
}


section{
    background: #F6F6F6;
    border-radius: 40px 40px 0 0  ;
}

.btn{
  margin: auto;
  margin-top: 27px;
  margin-right: 430px;
  width: 218px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  padding: 12px 15px;
  border-radius: 25px;
  -webkit-box-shadow: 0.25rem 0.25rem 10px #00000045;
  box-shadow: 0.25rem 0.25rem 10px #00000045;
  border-radius: 5rem;
  background: #686868 -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background: #686868 linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 1000ms;
}

.btn:hover{
  transform: scale(1.05);
}


.btn a{
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 63px 50px;
    background: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
  }

  header i{
    margin-left: -80px;
    transition: transform 500ms;
  }

  header i:hover{
    color: #9356DC;
    transform: scale(1.5);
  }
  
  .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.logo img {
    width: 162px;
    height: 44px;
    margin-left: 30px;
  }

.background img{
    width: 375px;
    height: 275px;
}
  
footer{
  display: flex;
  flex-direction: column;
  background: #353535;
}

.logo_font1{
  font-family: 'Shrikhand', sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;

}
.menu_footer{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  gap: 15px;
}
footer a{
text-decoration: none;
color: #FFFFFF;
margin: 0;
}

footer i{
  margin-right: 15px;
}

  
  
  .article_text{
    display: flex;
    text-align: left;
    width: 274px;
    height: 44px;
    
  }

  

  .price {
    font-size: 15px;
    font-weight: 700;
    margin-top: 35px;
    padding-left: 50px;
    transition: 600ms;
  }
  .check{
    display: flex;
    margin-left: 300px;
    width: 59px;
    height: 69px;
    border-radius: 0 15px 15px 0;
    background-color: #99E2D0;
    transform: scale(1, 1);
    transition: 600ms;
  }

  article:hover > .check{
   margin-left: 42px;
   
  }

  article:hover >.check i{
    animation: spin 1.5s  ;
    font-size: 28px;
  }

  .article_text:hover > .price{

    padding-left: 0;
  }

  .check i{
  color: #FFFFFF;

  margin: auto;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  }

  .check i:hover{
    -webkit-text-fill-color: white;
  }

  @keyframes spin {
    0%{
    transform: rotate(0deg);
    }

    100%{
      transform: rotate(360deg);
    }
    
  }

  @media screen and (min-width: 768px){
    html{
      width: 1440px;
      margin: auto;
    }
    body{
      display: grid;
      margin: auto;
      grid-template-areas:  
      'header'
      'aside'
      'footer';
      grid-template-columns: 1440px;
      grid-template-rows: 360px 1110px 114px;
      font-family: 'Roboto','Shrikhand', sans-serif;
      
      
   }
   header {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 63px 50px;
    
    background: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
  }

  header i{
    margin-left: -80px;
    display: flex;
    align-items: flex-start;
    transition: transform 500ms;
    margin: auto;
  }

  header i:hover{
    color: #9356DC;
    transform: scale(1.5);
  }
  
  .logo{
    width: 1440px;
    display: flex;
    justify-content: flex-end;
  }

  .logo i{
    margin-left: 15px;
  }

.logo img {
    width: 200px;
    height: 54px;
    margin: auto;
    }
    .background img{
      width: 1440px;
      height: 360px;
      object-fit: cover;
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #353535;
  }

  .menu_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    gap: 15px;
  }


  .logo_font1{
    display: none;
    font-family: 'Shrikhand', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
    position: absolute;
  }

  .logo_font2{
    display: flex;
    font-family: 'Shrikhand', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    margin-top: -12px;
    position: absolute;
    
  
  }

  section{
    width: 1055px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'h1' 
    'aside1'
    'aside2'
    'aside3';
    margin-top: -63px;
}

article{
  width: 634px;
  height: 68.07px;
  margin: auto;
}

.price{
  margin-left: 75px;
}

.check{
  display: flex;
  margin-left: 390px;
  width: 59px;
  height: 69px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transform: scale(1, 1);
  transition: 600ms;
}

header i{
  margin-right: -80px;
  transition: transform 500ms;
  margin: auto;
}
article:hover > .check{
  margin-left: 326px;
 }

 .article_text:hover > .price{

   padding-left: 0;
 }

header i:hover{
  color: #9356DC;
  transform: scale(1.5);
}

h2{
  margin-left: 190px;
}

.underline{
  margin-left: 190px;
}

.btn{
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1{
  font-family: 'Shrikhand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-left: 17px;
  margin: auto;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: baseline;
  
}

section{
  display: grid;
  grid-template-areas: 
  'h1' 
  'aside1'
  'aside2'
  'aside3';
  grid-template-rows: 75px 382px 280px 275px ;
  margin-top: -3px;
}

h3{
  width: 400px;
}
  }
