
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
  
* {
  box-sizing: border-box;
}

p{
  margin: 0;
}

h2{
  font-size: 24px;
  font-weight: 700;
}

h3{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.entete{
  grid-area: section1;
}
.fonnctionnement{
  grid-area: section2;
}
.restaurants{
  grid-area: section3;
  background: #f6f6f6;
}

body {
  display: grid;
  grid-template-areas: 
  'header'
  'section1'
  'section2'
  'section3'
  'footer';
  grid-template-columns: 375px;
  grid-template-rows: 113px 287px 400px 1226px 197px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 63px 50px;
  background: #FFFFFF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-align: center;
}

header img {
  width: 162px;
  height: 44px;
}

.localisation {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 9px;
  
}

.localisation p{
  margin: 0;
}


.entete{
  text-align: center;
  background: #F7F7F7;  
  
}

.entete h1{
  font-size: 24px;
  font-weight: 700;
}

.entete p{
  font-size: 18px;
  font-weight: 300;
}

.btn_explore{
  margin-left: 70px;
  margin-top: 20px;
  width: 218px;
  height: 50px;
  padding: 12px 15px;
  border-radius: 25px;
  box-shadow: 0.25rem 0.25rem 10px #00000045;
  background: #686868 -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background: #686868 linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.btn_explore a{
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.fonnctionnement{
  display: grid;
  grid-template-areas: 
  'article'
  'article'
  'article';
  grid-template-columns: 322.49px;
  grid-template-rows: 72.38px;
  margin-left: 20px;
  background: #FFFFFF;
}

.fonnctionnement article{
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.fonnctionnement article:hover{
  background: #F5EDFF;
}

.fonnctionnement i{
  color: #7E7E7E;
}

.fonnctionnement i:hover{
  color: #9356DC;
}

.cards{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: 30px;
  background: #f6f6f6;
}
.cards article{
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.cards img {
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.article_footer{
  display: grid;
  grid-template-columns: 82% auto;
  padding-top: 7px;
}

.article_footer i{
  padding: 15px;
}

.logo_footer i:hover{
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

}

.title_footer{
  padding-left: 12px;
}

.article_footer p{
  font-size: 17px;
  font-weight: 300;
}
.cards a{
  text-decoration: none;
  color: black;
}

footer{

}

/*# sourceMappingURL=style.css.map */

